

main{
    @include set-dimension(50%,auto);
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;

    >img{
        @include set-dimension(50%,auto);
  
        margin: 1em;
        background:whitesmoke;
        border-radius: 5px;
    }
    >hr{
        @include set-dimension(75%,7px);
        background:$color-white;
        border-radius: 5px;
        border: none;
    }
    >logos{
        @include set-dimension(100%,auto);
   
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        img{
            @include set-dimension(5em,5em);
            object-fit: cover;
            margin: 0.5em;
            background: whitesmoke;
            border: 1px solid $color-dark;
            border-radius: 100%;
            opacity: 0.7;

            &:hover{
                opacity: 1;
        }

    }
}}