nav{

    @include set-dimension(auto,100vh);
    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.btn{
    color: $color-white;
    margin: 0.5em;
    padding: 0.8em;
    border-radius: 0.5em;
    box-shadow: 1px 1px 1px $color-dark;
    background: grey;
}
.source{
    
    background: $color-primary;
}
.site{
    background:$color-secundary;
}

.faq{
    background:$color-tertiary;
}